fatal: Failed to find location service

I'm attempting to use gcmcore-linux_amd64.2.0.280.19487 on Ubuntu 20.04 LTS.

The deb failed to work properly. 

After installing with 
`sudo apt-get install ./gcmcore-linux_amd64.2.0.280.19487.deb`
...and then running:
`git-credential-manager-core configure`
my .gitconfig file incorrectly set up the credential.helper value as:
`
[credential]
        helper =
        helper = /var/tmp/.net/ablomber/git-credential-manager-core/2kcjsg11.md2/git-credential-manager-core

`

Once I manually fixed it to point to /usr/bin/git-credential-manager-core, then I was able to get further.

`
Cloning into 'test'...
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code DYTSVN4X3 to authenticate.
`

I went to the URL, logged in, and enterered the code.

Then, the git operation responded with:
`
fatal: Failed to find location service
`
..and then fell back to username/password authentication:
`
Password for 'https://INSTANCENAME@dev.azure.com/INSTANCENAME/DefaultCollection/TEAMPROJECT/_git/REPONAME':
`

this code appears to be where things fall apart:
Git-Credential-Manager-Core-2.0.280-beta/src/shared/Microsoft.AzureRepos/AzureDevOpsRestApi.cs:172
`
        #region Private Methods

        private async Task<Uri> GetIdentityServiceUriAsync(Uri organizationUri, JsonWebToken accessToken)
        {
            const string locationServicePath = "_apis/ServiceDefinitions/LocationService2/951917AC-A960-4999-8464-E3F0AA25B381";
            const string locationServiceQuery = "api-version=1.0";

            Uri requestUri = new UriBuilder(organizationUri)
            {
                Path = UriHelpers.CombinePath(organizationUri.AbsolutePath, locationServicePath),
                Query = locationServiceQuery,
            }.Uri;

            _context.Trace.WriteLine($"HTTP: GET {requestUri}");
            using (HttpRequestMessage request = CreateRequestMessage(HttpMethod.Get, requestUri, bearerToken: accessToken))
            using (HttpResponseMessage response = await HttpClient.SendAsync(request))
            {
                _context.Trace.WriteLine($"HTTP: Response {(int)response.StatusCode} [{response.StatusCode}]");
                if (response.IsSuccessStatusCode)
                {
                    string responseText = await response.Content.ReadAsStringAsync();

                    if (TryGetFirstJsonStringField(responseText, "location", out string identityServiceStr) &&
                        Uri.TryCreate(identityServiceStr, UriKind.Absolute, out Uri identityService))
                    {
                        return identityService;
                    }
                }
            }

            throw new Exception("Failed to find location service");
        }

        #endregion

`

Anybody know of a way to work around this?

Thanks!

-Adam Blomberg
adam.blomberg@itron.com


Hi @ablomber , have you also gone [setup a credential store](https://github.com/microsoft/Git-Credential-Manager-Core/blob/master/docs/linuxcredstores.md)? On Linux, you also need to set a credential store. From that doc, option 1 of 3:
```shell
export GCM_CREDENTIAL_STORE=secretservice
# or
git config --global credential.credentialStore secretservice
```

The `configure` command looks like it populated with the self-unpacked path. @mjcheetham not sure why I never saw that happen in my original testing of the .deb. I suspect we could ensure it still gets set correctly and keep the single-exe deployment?

@ablomber can you try re-running your Git command with the environment variable `GCM_TRACE=1` set and copy the output (please redact any private information).

(You can also set `GCM_TRACE=/full/path/to/log.txt` to a full file path too.)

The location service is an API on the Azure DevOps instance that we use to locate the correct token authority for your instance.

Hi @ablomber,

Are you still experiencing issues with the "Failed to find location service" error?

I'm going to close this for now - if we hear back from @ablomber I'd be happy to reactivate.

Hi @mjcheetham,

Sorry for my absence responding on this issue.  It is very much still an issue for my company.  I managed to create a workaround by hacking around the setup after installing the deb.  However I would like to help you resolve it properly.

I'm slammed on a critical path project right now, but I will have time to revisit this in about 2 weeks.  I will reach out with the requested debug info you asked for at that time.  

Thank you for your time and attention.

-Adam Blomberg
adam.blomberg@itron.com


No worries - we understand everyone's busy 😁 Thanks for helping us make a better product!

Great thanks... Welcome to APACGAMONDE!

This is also an issue on Windows running through Cygwin.

Co-worker of mine is also getting this "Failed to find location service" error on Windows 10 when trying to clone from Azure DevOps. I did not get the error. His computer would show the Azure DevOps login window, go through the login process with 2FA but, then the error message would display on the command prompt console.

Differences noted
* He has "git version 2.32.0.windows.2" and I have "git version 2.32.0.windows.1" 
* He uses text message for two factor and I use the Microsoft Authenticator app

Downgrading his install to the 2.32.0.windows.1 version did not resolve the error message.

We managed to workaround it by manually generating a personal access token in Azure DevOps and using that to authenticate.

@EricSmall did your co-worker hit this error consistently each time they tried?

If they can still reproduce the problem please can you get them to re-run the `clone` with the `GCM_TRACE` environment variable set to `1` and include the output here please?

Also a few questions:

1. Are they behind a web proxy?
2. Do you have any firewalls in place that might be blocking some HTTP traffic?
3. Can they run `git config --list --show-origin` and include the results here (_please scrub any sensitive information that may be present before posting_)

Thanks!

I had this issue, but only on some of my repos. I think I figured out the cause & some workarounds.

Microsoft has a concept of a "Personal" & and "Work/School" account. It's actually possible to create 1 of each with the exact same email address. It's not obvious that these are 2 separate accounts as most software/webApps just show the email address of the account you're logged into. Also, not all software/webApps allow you to pick which one of the two you want to login to.
In order to check if this situation affects you, completely log out of all microsoft accounts with that email (or use incognito) & then login again. If you see this screen at login, it means you have 2 accounts under the same email.
![image](https://user-images.githubusercontent.com/2002030/127519984-03f901bc-1afb-406e-8eef-cc6cc045007a.png)

I've attached my gcm.log to help with troubleshooting.
[gcm.log](https://github.com/microsoft/Git-Credential-Manager-Core/files/6901684/gcm.log)

You'll notice this error:
11:20:37.573158 ...DevOpsRestApi.cs:169 trace: [GetIdentityServiceUriAsync] HTTP: GET https://dev.azure.com/degasolutions/_apis/ServiceDefinitions/LocationService2/951917AC-A960-4999-8464-E3F0AA25B381?api-version=1.0
11:20:40.650586 ...DevOpsRestApi.cs:173 trace: [GetIdentityServiceUriAsync] HTTP: Response 203 [NonAuthoritativeInformation]

If I paste that URL directly into my browser, I got 200, not 203. So, gcm was seeing something different than my browser.

I think what was happening is git credential manager was somehow using my personal microsoft account & my web browser was using my corporate microsoft account (or visa versa). When logging into devops it's not obvious which of the 2 accounts has access & I don't think it's possible to grant access to both versions of the account. Although I tried logout/login multiple times I couldn't figure out a way to get them both connected to the correct "version" of the account.

Workaround A) Login to devops, navigate to the repo, click "clone", click "Generate Git Credentials". Use the generated password for git clone instead of using your email+password.
![image](https://user-images.githubusercontent.com/2002030/127521110-fc882c4b-4485-4784-923a-65793af712a6.png)

Workaround B) You must separate the personal & the corporate microsoft accounts to be under different email addresses. This can be done by asking your corporation to rename your email in active directory, or it can be done by logging into your personal microsoft account & adding a login alias under a different email & then removing the original email. Afterwards, open "Credential Manager" in windows, clear your git logins, & try again.


@mjcheetham 
Are they behind a web proxy?
No
Do you have any firewalls in place that might be blocking some HTTP traffic?
No
Can they run git config --list --show-origin and include the results here (please scrub any sensitive information that may be present before posting)
I already fixed via the above workarounds before I thought to run this step. I can still run it if it's helpful, but I wonder if the results have now changed & will be irrelevant.

Hope this helps someone.

@speige

> If I paste that URL directly into my browser, I got 200, not 203. So, gcm was seeing something different than my browser.
>
> I think what was happening is git credential manager was somehow using my personal microsoft account & my web browser was using my corporate microsoft account (or visa versa). [..]

An HTTP 203 response means the request was successful, but the payload has been modified by a transforming proxy ([RFC7231 §6.3.4](https://datatracker.ietf.org/doc/html/rfc7231#section-6.3.4)).

I wonder if there's something strange going on with Azure DevOps when it gets an access token in the location service URL request for the "wrong" type of account?

If you want to look further then [capturing a Fiddler trace](https://www.telerik.com/fiddler) (including [HTTPS decryption](https://docs.telerik.com/fiddler/configure-fiddler/tasks/decrypthttps)) would be helpful. The 203 is a success response, but the only way GCM's code path would fail with "Failed to find location service" would be if the payload didn't contain a `location` field in the JSON.

https://github.com/microsoft/Git-Credential-Manager-Core/blob/7fe5379e11a4f9296e6ced4661d72434fa358545/src/shared/Microsoft.AzureRepos/AzureDevOpsRestApi.cs#L174-L186

> You must separate the personal & the corporate microsoft accounts to be under different email addresses.

I know there's a limitation with Azure DevOps' implementation of MSA (Personal) vs AAD (Work or School) accounts that means we're unable to help on the client side in disambiguating between the two types. The strong recommendation from Microsoft Identity is to separate the accounts regardless.

Dear all,
My account has been working smoothly for years then suddenly it does not work anymore from 2 days ago. When I run "git pull" I received this error:
**fatal: Failed to find location service**

Any one can help me to check this issue?

Thank you